cachetools==5.5.2
certifi==2024.12.14
charset-normalizer==3.4.1
fastparquet==2024.11.0
google-api-core==2.24.1
google-auth==2.38.0
google-cloud-access-context-manager==0.2.1
google-cloud-asset==3.29.1
google-cloud-monitoring==2.27.0
google-cloud-org-policy==1.13.0
google-cloud-os-config==1.20.0
googleapis-common-protos==1.68.0
grpc-google-iam-v1==0.14.0
grpcio==1.70.0
grpcio-status==1.70.0
idna==3.10
numpy==1.26.4
pandas==2.2.3
proto-plus==1.26.0
protobuf==5.29.3
pyasn1==0.6.1
pyasn1_modules==0.4.1
python-dateutil==2.9.0.post0
pyarrow==19.0.1
pytz==2024.2
requests==2.32.3
rsa==4.9
six==1.17.0
tzdata==2024.2
urllib3==2.3.0
aiohttp>=3.8.0
asyncio==3.4.3
google_cloud_bigquery==3.29.0