accelerate==1.10.1
bitsandbytes==0.48.1
datasets==3.6.0
einops==0.8.1
gcsfs==2024.12.0
mlflow==3.5.0
peft==0.17.1
psutil==6.1.1
pynvml==11.5.3
thejsonlogger==0.0.5
torch==2.9.0
transformers==4.57.1
trl==0.24.0
