google-cloud-storage==2.19.0
google-cloud-aiplatform==1.65.0
langchain==0.3.27
langchain-community==0.2.19
langchain-google-vertexai==1.0.10
langchain-weaviate==0.0.6
weaviate-client==4.19.4
pypdf==6.6.2
click==8.3.1
Flask==2.3.3
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==2.1.5
Werkzeug==3.1.6
kubernetes==28.1.0
