streamlit==1.47.0
google-cloud-aiplatform==1.104.0
langchain==0.3.26
langchain-community==0.3.27
langchain-google-vertexai==1.0.10
langchain-weaviate==0.0.5
weaviate-client==4.16.1
arxiv==2.2.0
pymupdf==1.26.3
